---
---

@import 'style';

@font-face {
    font-family: 'gilbert';
    src: url('gilbert.otf') format('otf'),
    	 url('gilbert.woff2') format('woff2'),
         url('gilbert.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { background-image: url('../img/rainbow.jpg') }
.hero-unit h1 { font-family: "gilbert","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif }
