<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.layout == "home" %}
		<meta name="description" content="{{ site.description }}">
	{% elsif page.description %}
		<meta name="description" content="{{ page.description }}">
	{% endif %}

	<title>
		{% if page.title %}
			{{ page.title }} &middot; {{ site.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" integrity="sha384-PPIZEGYM1v8zp5Py7UjFb79S58UeqCL9pYVnVPURKEqvioPROaVAJKKLzvH2rDnI" crossorigin="anonymous">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{{ "/assets/photo.png" | relative_url }}">

	<!-- Public key -->
	<link href="https://keybase.io/skylarmacdonald/key.asc" rel="pgpkey" type="text/plain" />
	<link href="https://keybase.io/skylarmacdonald/key.asc" rel="publickey" type="text/plain" />

	<!-- WebMentions -->
	{% webmentions_head %}

	<!-- Social meta -->
	<meta property="fediverse:creator" content="@skylar@tilde.zone">
	<meta name="twitter:creator" content="@LASSkylar">
	{% if page.title %}
		<meta property="og:title" name="og:title" content="{{ page.title }}">
	{% else %}
		<meta property="og:title" name="og:title" content="{{ site.title }}">
	{% endif %}
	{% if page.description %}
		<meta property="og:description" name="og:description" content="{{ page.description }}">
	{% else %}
		<meta property="og:description" name="og:description" content="{{ site.description }}">
	{% endif %}
	{% if page.collection == 'talks' %}
		<meta property="og:image" name="og:image" content="{{ site.url }}/assets/talks/{{ page.image }}">
		<meta property="twitter:image" name="twitter:image" content="{{ site.url }}/assets/talks/{{ page.image }}">
		<meta property="twitter:card" name="twitter:card" content="summary_large_image">
	{% elsif page.collection == 'posts' %}
		<link rel="author" href="{{ site.url }}">
		{% if page.image %}
			<meta property="og:image" name="og:image" content="{{ site.url }}/assets/blog/{{ page.image }}">
			<meta property="twitter:image" name="twitter:image" content="{{ site.url }}/assets/blog/{{ page.image }}">
			<meta property="twitter:card" name="twitter:card" content="summary_large_image">
		{% endif %}
	{% else %}
		<meta property="twitter:card" name="twitter:card" content="summary">
	{% endif %}
	<meta property="og:type" name="og:type" content="article">
	<meta property="og:locale" name="og:locale" content="en_GB">
	<meta property="og:site_name" name="og:site_name" content="{{ site.title }}">
	{% if page.toot %}
		<link rel="alternate" type="application/activity+json" href="{{ page.toot }}">
	{% endif %}
	<link href="https://github.com/skylarmacdonald" rel="me">

	<!-- RSS -->
	{% feed_meta %}
</head>
