<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.layout == "home" %}
		<meta name="description" content="{{ site.description }}">
	{% endif %}

	<title>
		{% if page.title %}
			{{ page.title }} &middot; {{ site.title }}
		{% else %}
			{{ site.title }}
		{% endif %}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{{ "/assets/photo.png" | relative_url }}">

	<!-- Public key -->
	<link href="https://keybase.io/skylarmacdonald/key.asc" rel="pgpkey" type="text/plain" />
	<link href="https://keybase.io/skylarmacdonald/key.asc" rel="publickey" type="text/plain" />

	<!-- WebMentions -->
	<link rel="webmention" href="https://webmention.io/skye.fyi/webmention" />
	<link rel="pingback" href="https://webmention.io/skye.fyi/xmlrpc" />

	<!-- RSS -->
	{% feed_meta %}
</head>
