<ul class="nav-social-icons">
	<li><a href="{% link talks.html %}" id="talks_link">Talks</a></li>
	{% if site.social.email %}
		<li><a target="_blank" rel="me" class="u-url" href="mailto:{{ site.social.email }}"><i class="fas fa-envelope"></i></a></li>
	{% endif %}
	{% if site.social.github %}
		<li><a target="_blank" rel="me" class="u-url" href="{{ site.social.github }}"><i class="fab fa-github"></i></a></li>
	{% endif %}
	{% if site.social.mastodon %}
		<li><a target="_blank" rel="me" class="u-url" href="{{ site.social.mastodon }}"><i class="fab fa-mastodon"></i></a></li>
	{% endif %}
	{% if site.social.bluesky %}
		<li><a target="_blank" rel="me" class="u-url" href="{{ site.social.bluesky }}"><i class="fab fa-bluesky"></i></a></li>
	{% endif %}
	{% if site.social.linkedin %}
		<li><a target="_blank" rel="me" class="u-url" href="{{ site.social.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
	{% endif %}
	{% if site.social.twitter %}
		<li><a target="_blank" rel="me" class="u-url" href="{{ site.social.twitter }}"><i class="fab fa-twitter"></i></a></li>
	{% endif %}
</ul>
