body {
	background: #fff url('/img/03.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.hero-unit,
article {
	margin-top: 100px;
	background-color: rgba(238, 238, 238, 0.9);
	line-height: 1.3;
  h1 {
  	font-size: 3.5em;
  	margin-bottom: 20px;
  }
  h2 { color: #2d2d2d; }
}
main.hero-unit {
  margin-bottom: 60px;
}
section {
  margin: 80px auto;
}
h2 {
	text-align: center;
	font-size: 1.2em;
	margin: -20px 0 30px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
  color: #fff;
}
article p:first-of-type {
	margin-bottom: 21px;
  font-size: 22.5px;
  font-weight: 200;
  line-height: 31.5px;
}
ul.one-line {
	list-style: none;
	margin: 0;
	li {
		display: inline;
		margin: 0;
    line-height: 1.5 !important;
		&:not(:last-of-type):after {
			margin-left: 10px;
			margin-right: 5px;
			content: '\b7';
		}
	}
}
.byline {
	display: block;
	font-style: italic;
	font-size: 0.9em;
	margin: 0 0 10.5px;
}
dd, dt { line-height: inherit; }
dt { margin-top: 10px; }
#circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	float: left;
	margin-right: 30px;
	width: 200px;
	height: 200px;
	border: 5px solid #3399f3;
	opacity: 1;
	background: url('//www.gravatar.com/avatar/92e32ff9bf0328b3d63c4d3c586d171b?s=200&d=404') no-repeat center center;
	background-size: cover;
	-webkit-transition: background-image 0.3s, border-color 0.3s;
	transition: background-image 0.3s, border-color 0.3s;
}
#circle.dsg {
  background-image: url('/img/circle/dsg.png');
  border-color: #700;
}
#circle.las {
  background-image: url('/img/circle/las.jpg');
  border-color: #006747;
}
#circle.bloodhound {
  background-image: url('/img/circle/bloodhound.jpg');
  border-color: #131a57;
}
div#words {
  margin-left: 250px;
  p {
    line-height: 1.5 !important;
    font-size: 1.25em;
    &.lead {
      line-height: 1.25 !important;
      font-size: 1.5em;
      margin-bottom: 10.5px;
    }
  }
}

#companies #logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    height: 150px;
    display: block;
  }
}
#cv_download {
  width: 40%;
  margin: 20px auto;
  > span { vertical-align: top; }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    color: #5cf;
    font-size: 3em;
    line-height: 1.2;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  }
}

span#cookies {
	color: #fff;
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-size: 0.8em;
	line-height: 1em;
}
@media screen and (max-width: 767px) {
	div#words { margin-left: 0; }
	.hero-unit h1,
	article h1 { font-size: 2.25em; }
}
