body {
	background: #fff url('/img/03.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.hero-unit,
article {
	margin-top: 100px;
	background-color: rgba(238, 238, 238, 0.8);
	line-height: 1.2;
}
.hero-unit h1,
article h1 {
	font-size: 3.5em;
	margin-bottom: 20px;
}
h2 {
	text-align: center;
	font-size: 1.2em;
	margin: -20px 0 30px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
}
article p:first-of-type {
	margin-bottom: 21px;
    font-size: 22.5px;
    font-weight: 200;
    line-height: 31.5px;
}
ul.one-line {
	list-style: none;
	margin: 0;
	li {
		display: inline;
		margin: 0;
		&:not(:last-of-type):after {
			margin-left: 10px;
			margin-right: 5px;
			content: '\b7';
		}
	}
}
.byline {
	display: block;
	font-style: italic;
	font-size: 0.9em;
	margin: 0 0 10.5px;
}
dt { margin-top: 10px; }
#circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	float: left;
	margin-right: 30px;
	width: 200px;
	height: 200px;
	border: 5px solid #3399f3;
	opacity: 1;
	background: url('//www.gravatar.com/avatar/92e32ff9bf0328b3d63c4d3c586d171b?s=200&d=404') no-repeat center center;
	background-size: cover;
	-webkit-transition: background-image 0.3s;
	transition: background-image 0.3s;
}
#circle.lasershark { background-image: url('/img/circle/lasershark.png'); }
#circle.gkly { background-image: url('/img/circle/gkly.png'); }
#circle.twitter { background-image: url('/img/circle/twitter.png'); }
#circle.tinykettle { background-image: url('/img/circle/tinykettle.png'); }
#circle.tellyblob { background-image: url('/img/circle/tellyblob.png'); }
#circle.bloodhound { background-image: url('/img/circle/bloodhound.jpg') }
div#words { margin-left: 250px; }
span#cookies {
	color: #fff;
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-size: 0.8em;
	line-height: 1em;
}
@media screen and (max-width: 767px) {
	div#words { margin-left: 0; }
	.hero-unit h1,
	article h1 { font-size: 2.25em; }
}
