---
---

@import 'talks';

#permalink, #share {
  font-size: 0.8em;
  margin-right: .5rem;
}

#site_photo {
  height: 24px;
  width: 24px;
  display: inline;
  margin: 0;
  margin-right: .25em;
  vertical-align: text-bottom;
  border-radius: 24px;
  border: 0;
}

#site_description {
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 3em 0 0;
  text-align: center;
  padding: 0 2em;
  h3 {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .2em;
  }
}
#hcard_description { display: none }

h1.post-title,
h1.post-title div { line-height: 1.2 }

.highlight pre { padding: 0 }

hr {
  border: none;
  border-top: 1px solid #eee;
}

div.bluesky-embed { margin: 0 auto }

.catalogue-item { width: 100% }

.footnotes {
  font-size: 0.8em;
  border-top: 1px solid #eee;
  li p { margin: 0 0 .5rem }
}

.preamble {
  font-style: italic;
  color: #777;
}

.prequel, .sequel {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: .5rem;
  font-style: italic;
}

table {
  border-collapse: collapse;
  th, td {
    border: 1px solid #ccc;
    padding: 0 .5rem;
  }
  .post & { margin-bottom: 1rem }
}
