<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>
		<nav class="nav">
			<div class="nav-container h-card">
				<a href="{{ site.baseurl | prepend: site.url }}/" rel="me author" class="u-url u-uid">
					<img src="{% link assets/photo.png %}" alt="Photo of Skylar MacDonald" class="u-photo" id="site_photo">
					<h2 class="nav-title p-name">{{ site.title }}</h2>
				</a>
				<small>For Your Information</small>
				{% include social.html %}
			</div>
		</nav>

		<main {% if page.collection != 'talks' %}itemscope itemtype="https://schema.org/Blog"{% endif %}>
			{% if page.layout == "home" %}
				<div id="site_description">{{ site.description }}</div>
			{% endif %}
			{{ content }}
			{% if page.layout == "post" %}
				<div id="site_description">
					<h3>About {{ site.author.name }}</h3>
					{{ site.description }}
				</div>
			{% endif %}
		</main>

		<footer>
			<span>
				&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
			</span>
		</footer>
	</body>
</html>
