<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>
		<nav class="nav">
			<div class="nav-container h-card" itemscope itemtype="https://schema.org/Person">
				<a href="{{ site.baseurl | prepend: site.url }}/" rel="me author" class="u-url u-uid" itemprop="url">
					<img src="{% link assets/photo.png %}" alt="Photo of Skylar MacDonald" class="u-photo" id="site_photo" itemprop="image">
					<h2 class="nav-title p-name" itemprop="name">{{ site.title }}</h2>
				</a>
				<small>For Your Information</small>
				{% include social.html %}
				<div id="hcard_description" class="p-note">{{ site.description }} This is my blog!</div>
				<meta itemprop="gender" content="https://schema.org/Female">
				<meta itemprop="pronouns" content="she/her">
				<meta itemprop="jobTitle" content="CAD & Technical Lead">
			</div>
		</nav>

		<main {% if page.collection != 'talks' %}itemscope itemtype="https://schema.org/Blog"{% endif %}>
			{% if page.layout == "home" %}
				<div id="site_description" class="p-note">{{ site.description }}</div>
			{% endif %}
			{{ content }}
			{% if page.layout == "post" %}
				<div id="site_description">
					<h3>About {{ site.author.name }}</h3>
					{{ site.description }}
				</div>
			{% endif %}
		</main>

		<footer>
			<span>
				&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
			</span>
		</footer>
		<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "93ff34ac2bd3456b93a1a12313be85a7"}'></script>
	</body>
</html>
