---
layout: default
---

<article class="post h-entry" itemscope itemtype="https://schema.org/BlogPosting">
	{% if page.image %}
		<img class="hidden u-photo" src="/assets/blog/{{ page.image }}" alt="{{ page.image_alt }}" itemprop="image">
	{% endif %}
	<div class="post-info">
		<a rel="author" class="hidden p-author h-card" href="/">{{ site.title }}</a>
		{% if page.date %}
			<time datetime="{{ page.date }}" class="dt-published" itemprop="datePublished">{{ page.date | date: "%B %d, %Y" }}</time>
		{% endif %}
	</div>
	<h1 class="post-title" itemprop="headline name">
		<div class="p-name">{{ page.title | smartify }}</div>
	</h1>

	{% if page.prequel %}
		{% assign prequel_post = site.posts | find: 'path', page.prequel %}
		<p class="prequel">
			This post is a sequel to: <a href="{{ prequel_post.url }}">{{ prequel_post.title | smartify }}</a>
		</p>
	{% endif %}

	<p class="preamble">{{ page.preamble }}</p>
	<div class="e-content" itemprop="articleBody">{{ content }}</div>

	{% if page.sequel %}
		{% assign sequel_post = site.posts | find: 'path', page.sequel %}
		<p class="sequel">
			Read the next part: <a href="{{ sequel_post.url }}">{{ sequel_post.title | smartify }}</a>
		</p>
	{% endif %}

	<a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" id="permalink" rel="canonical" class="u-url" itemprop="url">
		<i class="fa fa-link"></i>
		Permalink
	</a>

	<a href="https://shareopenly.org/share/?url={{ page.url | prepend: site.baseurl | prepend: site.url | cgi_escape }}&text={{ page.title | cgi_escape }}" id="share" rel="external share">
		<i class="fa fa-share"></i>
		Share
	</a>

</article>

<div class="relatedPosts">

	{% if site.related_posts_section %}
		{% assign maxRelated = site.related_posts_section.max_count %}
		{% assign minCommonTags =  site.related_posts_section.min_common_tags %}
		{% assign maxRelatedCounter = 0 %}
		{% assign relatedPostsExist = false %}

		{% for post in site.posts %}

			{% assign sameTagCount = 0 %}
			{% assign commonTags = '' %}

			{% for tag in post.tags %}
				{% if post.url != page.url %}
					{% if page.tags contains tag %}
						{% assign sameTagCount = sameTagCount | plus: 1 %}
						{% capture tagmarkup %} <span class="label label-default">{{ tag | replace: "-"," " }}</span> {% endcapture %}
						{% assign commonTags = commonTags | append: tagmarkup %}
					{% endif %}
				{% endif %}
			{% endfor %}

			{% if sameTagCount >= minCommonTags %}
				{% if relatedPostsExist == false %}
					<h3>Related posts:</h3>
					<ul>
				{% endif %}
				{% assign relatedPostsExist = true %}
				<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | smartify }}</a></li>
				{% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
				{% if maxRelatedCounter >= maxRelated %}
					{% break %}
				{% endif %}
			{% endif %}

		{% endfor %}

		{% if relatedPostsExist == true %}
			</ul>
		{% endif %}
	{% endif %}

</div>

<script type="text/javascript">
	document.getElementById('share').addEventListener('click', (e) => {
		const obj = {
			url: "{{ page.url | prepend: site.baseurl | prepend: site.url }}",
			title: "{{ page.title }}"
		};
		if (navigator.canShare(obj)) {
			e.preventDefault()
			navigator.share(obj)
		}
	})
</script>
